@import
	url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,900;1,200&display=swap')
	;

* {
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	height: 1vh;
	background: linear-gradient(113.96deg, #3494E6 0%, #EC6EAD 100%);
}

a {
	text-decoration: none;
}

.field{
	display: flex;
	flex-direction: column;
}

input[type=search],
input[type=text],
input[type=number]
{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	border: 0;
	outline: none;
	padding: .6rem;
	width: 700px;
	margin: 1rem 0;
}

main {
	display: flex;
	height: 90vh;
	margin: 2rem;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(20px);
	border-radius: 20px;
}

aside {
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	border-radius: 20px 0px 0px 20px;
}

.logo {
	display: flex;
	padding: 1rem;
}

.logo h1 {
	font-family: Bebas Neue;
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.8);
	margin-left: .5rem;
}

li {
	list-style: none;
}

nav li {
	display: flex;
	align-items: center;
	height: 1.5rem;
	line-height: 1.5rem; filter : opacity( .5);
	border-left: #212121 solid 5px;
	margin: 1rem 2rem 1rem 0;
	filter: opacity(.5);
}

nav li:hover {
	filter: opacity(1);
}

nav li.active {
	filter: opacity(1);
	border-left: #f06 solid 5px;
}

nav li img {
	margin: 0 .5rem;
}

section {
	margin: 4rem 0;
	display: flex;
	flex-direction: column; align-items : center;
	width: 100%;
	align-items: center;
}

button{
	background: #f06;
	border:0;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem 2rem;
	border-radius: 10px;
	margin-top: 1rem;
	align-self: flex-end; 	
	cursor: pointer;
}

.alert{
	width: 70%;
	padding: 1rem;
	text-align:center;
	background: rgba(0, 255, 102, 0.3);
	border-radius: 10px;	
}

.movies{
	width:100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.movie{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.poster{
	width: 140px;
	border-radius: 10px;
}

.movie .movie-title{
	font-weight: bold;
	font-size: 1.2rem;
}

.movie .movie-year{
	filter: opacity(.7);
}

.movie .movie-rating{
	display: flex; 
}

.movie .movie-rating p{
	margin-left: .5rem;
}