<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fiap Filmes</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>

<main>
	<aside>
		<div class="logo">
		    <h1>
		    Fiap Filmes
		    </h1>
		</div>
		
		<nav>
			<ul>
				<li>
					<img alt="movie icon" th:src="@{images/movie.svg}">
					<a href="/">Lista</a>
				</li>
				<li>
					<img alt="create icon" th:src="@{images/new.svg}">
					<a href="/create">Cadastrar</a>
				</li>
				<li class="active">
					<img alt="about icon" th:src="@{images/about.svg}">
					<a href="/about">Sobre</a>
				</li>
			</ul>
		</nav>
		
	</aside>
	<section>
		<div class="card">
			<p> O site FIAP Filmes é uma aplicação de exemplo da aula de DevOps do
			curso de Tecnologia em Análise e Desenvolvimento de Sistemas da FIAP.</p>			
		</div>
	</section>
</main>

</body>

</html>