<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fiap Filmes</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>

<body>

<main>
	<aside>
		<div class="logo">
		    <h1>
		    Fiap Filmes
		    </h1>
		</div>
		
		<nav>
			<ul>
				<li class="active">
					<img alt="movie icon" th:src="@{images/movie.svg}">
					<a href="/">Lista</a>
				</li>
				<li>
					<img alt="create icon" th:src="@{images/new.svg}">
					<a href="/create">Cadastrar</a>
				</li>
				<li>
					<img alt="about icon" th:src="@{images/about.svg}">
					<a href="/about">Sobre</a>
				</li>
			</ul>
		</nav>
		
	</aside>
	<section>
		<div class="alert" th:if="${message != null}" th:text="${message}"></div>
		<form>
			<input name="name" type="search" placeholder="buscar filme...">
		</form>
		<div class="movies">
			<div class="movie" th:each="movie : ${movies}">
				<img alt="poster" class="poster" th:src="@{images/velozes.jpg}">
				<p class="movie-title" th:text="${movie.description}"></p>
				<p class="movie-year" th:text="${movie.year}"></p>
				<div class="movie-rating">
					<img alt="star icon" th:src="@{images/star.svg}">
					<p th:text="${movie.rating}"></p>
				</div>
				<a th:href="${'/delete/' + movie.id}" class="button">
					<img alt="trash" th:src="@{images/trash.svg}">
				</a>
			</div>
		</div>
	</section>
</main>

</body>

</html>